<% if @product && @product.id %>
    $('#like-product-<%= @product.id %>').html('<%= escape_javascript(render(:partial => 'like', :locals => {:product => @product, :bandera => false} ))%>');
    $('#likes-bar-product-<%= @product.id %>').append('<div class="fui-heart-16 user-likes">&nbsp;</div>');
<% else %>
    $('#like-product-<%= @artist.id %>').html('<%= escape_javascript(render(:partial => 'like', :locals => {:product => @artist, :bandera => true} ))%>');
<% end %>