<!DOCTYPE html>
<html>
<head>
  <title>Altar</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	
<% @categories = Category.all %>		
<%= user_signed_in? ? render(:partial => "shared/topbar") : render(:partial => 'shared/topbar_with_login') %>

<%=	image_tag("bw.jpg",:class =>"bg", :id => "bg-img")%>
<div class="container">

 <%= yield %>

</div> <!-- /container -->


</body>
</html>
